.shopContenedorGlobal
{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 1px solid #333;
    margin: 0 auto;
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
}