.ShopContenedor
{
    box-sizing: border-box;
    overflow: hidden;
    width: 75vw;
    height: auto;
    margin-left: 1vw;
    display: grid;
    grid-template-columns: repeat(5,13vw);
    grid-template-rows: repeat(2,20vw);
    justify-content: center;
    align-items: center;
    grid-gap: 15px;
    row-gap:50px;
    padding: 50px 0;
}

.ShopContenedor>div 
{
    width: 13vw;
    height: 20vw;
}