.contMsj
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    color: #333;
    width: 40%;
    height: 20vh;
    margin: 0 auto;
    text-align: center;
    margin-top: 6vh;
    user-select: none;
}

.contMsj>p 
{
    font-size: 0.9rem;
}